<div class="brand">
  <div class="col-md-6">
    <div class="box">
      <form action="/brands" method="post">
        <label for="brand_name">Add a brand:</label>
        <input type="text" name="brand_name">
        <button type="submit" class="btn btn-xs btn-info">Add</button>
      </form>
      <hr>


      <form action="/brands" method="post">
        <h3>Delete a brand:</h3>
        <input type="hidden" name="_method" value="delete">
        Select a brand to delete:
        <select name="delete_brand_id">
          <% @brands.each do |brand| %>
          <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
        </select></br>
        <button type="submit" class="btn btn-xs btn-danger">Delete</button>

      </form>

    </div> <!-- div class box -->
  </div> <!-- div class col-md-6 -->

  <div class="col-md-6">
    <div class="box">

      <h2>Your Brands</h2>
      <% if @brands.any? %>
      <% @brands.each do |brand| %>
      <a href="/brands/<%= brand.id() %>"> <%= brand.name %></br> </a>
      <% end %>
      <% else %>
      You haven't added any brands yet!
      <% end %>

    </div> <!-- div class box -->
  </div><!-- div class col-md-6 -->

</div>
