<div class="brand">
  <div class="col-md-6">
    <div class="box">
      <form action="/brands" method="post">
        <label for="brand_name">Add a brand:</label>
        <input type="text" name="brand_name">
        <button type="submit" class="btn btn-xs btn-info">Add</button>
      </form>
      <hr>

    </div> <!-- div class box -->
  </div> <!-- div class col-md-6 -->

  <div class="col-md-6">
    <div class="box">

      <h2>Your Brands</h2>
      <% if @brands.any? %>
      <% @brands.each do |brand| %>
      <a href="/brands/<%= brand.id() %>"> <%= brand.name %></br> </a>
      <% end %>
      <% else %>
      You haven't added any brands yet!
      <% end %>

    </div> <!-- div class box -->
  </div><!-- div class col-md-6 -->

</div>
