<!-- <div class="container">
  <h1><%= @store.name() %> Store</h1>

  <h3><%= @store.name() %> sells the following brands:</h3>
  <% if @store.brands().any?() %>
    <ul>
      <% @store.brands().each() do |brand| %>
        <li><a href="/brands/<%= brand.id %>"> <%= brand.name() %> </a></li>
      <% end %>
    </ul>
  <% else %>
    <p>This store has no brands.</p>
  <% end %>



</div> -->
